<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">About us</h1>
                </div>
            </div>

            <div class="row mb-5">
                {{#each data}}
                <div class="d-md-flex post-entry-2 half">
                    <a href="#" class="me-4 thumbnail">
                        <img src="/{{image}}" alt="" class="img-fluid">
                    </a>
                    <div class="ps-md-5 mt-4 mt-md-0">
                        <h2 class="mb-4 display-4">{{title}}</h2>

                        <p>{{details}}</p>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </section>


</main><!-- End #main -->