<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
        <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/blog">
            <i class="bi bi-circle"></i><span>Blog</span>
          </a>
        </li>
        <li>
          <a href="/admin/team">
            <i class="bi bi-circle"></i><span>Team</span>
          </a>
        </li>
        <li>
          <a href="/admin/testimonial">
            <i class="bi bi-circle"></i><span>Testimonial</span>
          </a>
        </li>
        <li>
          <a href="/admin/contact-us">
            <i class="bi bi-circle"></i><span>Contact Us</span>
          </a>
        </li>
        <li>
          <a href="/admin/about">
            <i class="bi bi-circle"></i><span>About</span>
          </a>
        </li>

    </li><!-- End Components Nav -->

  </ul>

</aside><!-- End Sidebar-->