<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                <li class="breadcrumb-item active"><a>Testimonial</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="card">
            <div class="card-body">
                <!-- Table with hoverable rows -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Image</th>
                            <th scope="col">Details</th>

                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>image.png</td>
                            <td>that is details</td>
                            <td>
                                <a href="/admin/testimonial/1/show" class="btn btn-outline-info btn-sm">Show</a>
                                <a href="/admin/testimonial/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                                <a href="/admin/testimonial/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>image.png</td>
                            <td>that is details</td>
                            <td>
                                <a href="/admin/testimonial/1/show" class="btn btn-outline-info btn-sm">Show</a>
                                <a href="/admin/testimonial/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                                <a href="/admin/testimonial/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>image.png</td>
                            <td>that is details</td>
                            <td>
                                <a href="/admin/testimonial/1/show" class="btn btn-outline-info btn-sm">Show</a>
                                <a href="/admin/testimonial/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                                <a href="/admin/testimonial/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>image.png</td>
                            <td>that is details</td>
                            <td>
                                <a href="admin/testimonial/1/show" class="btn btn-outline-info btn-sm">Show</a>
                                <a href="admin/testimonial/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                                <a href="admin/testimonial/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Division Officer</td>
                            <td>image.png</td>
                            <td>that is details</td>
                            <td>
                                <a href="admin/testimonial/1/show" class="btn btn-outline-info btn-sm">Show</a>
                                <a href="admin/testimonial/1/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                                <a href="admin/testimonial/1/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- End Table with hoverable rows -->
                <a href="/admin/testimonial/create" class="btn btn-outline-success btn-sm">Data Create</a>

            </div>
        </div>
    </section>

</main><!-- End #main -->