  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>MakeBlog</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="blog">Blog</a></li>
          <li><a href="single-post">Single Post</a></li>
          <li><a href="testimonial">testimonial</a></li>
          <li><a href="team">team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact-us">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="https://www.facebook.com/saim.hasan.02" target="_blank" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="https://www.linkedin.com/in/saim-hasan-546067203" target="_blank" class="mx-2"><span class="bi-linkedin"></span></a>
        <a href="https://www.instagram.com/saiim_hasan_" target="_blank" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header>